* {
    box-sizing: border-box;
    margin: 0px auto;
    box-sizing: border-box;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/* close commented backslash hack */
.text_center {
    text-align: center;
}


.container {
    width: 1170px;
    margin: 0px auto;
}

.clear {
    clear: both;
}

.header {
    width: 1800px;
    height: 950px;
    z-index: 1;
    background-image: url(./images/Take.jpg);
    position: relative;
    color: #FFFFFF;
}

.header .logo p::before {
    content: "\2601";
    cursor: text;
    border: solid 1px;
    padding: 5px;
    font-size: 30px;
}

.header .logo {
    position: absolute;
    top: 50px;
    left: 315px;
}

.header .text_header {
    position: absolute;
    top: 450px;
    left: 315px;
    width: 450px;
    height: 300px;
}

.header .iphone {
    z-index: 2;
    position: absolute;
    top: 260px;
    left: 800px;
}

.text {
    margin-top: 121px;
    font-family: 'Open Sans', sans-serif;
}

.text h1 {
    font-size: 35px;
    line-height: auto;
}

.text .text_left {
    width: 570px;
    height: 370px;
    float: left;
    padding-right: 30px;
}

.text .text_right {
    width: 570px;
    height: 200px;
    float: left;
    padding-top: 136px;
}

.grid_box {
    padding-top: 80px;
}

.grid_box .box {
    width: 380px;
    height: 278px;
    float: left;
    padding: 40px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.grid_box h1 {
    font-size: 30px;
}

.grid_box a {
    font-size: 14px;
    color: #FFFFFF;
}

.grid_box .box_blue {
    background: #f5989d;
}

.grid_box .box_darkblue {
    background: #615f7d;
}

.grid_box .box_small {
    background-image: url(./images/Our_clients.jpg);
}

.grid_box .box_large {
    width: 760px;
    height: 278px;
    background: red;
    background-image: url(./images/box_large.jpg);
}

.grid_box .box_yeallow {
    background: #82ca9c;
}

.four_col {
    margin-top: 100px;
}

.four_size {
    width: 270px;
    min-height: 200px;
    float: left;
    text-align: justify;
    padding: 15px;
}

.four_size p:first-child {
    font-weight: bold;
}

.four_size h1 {
    font-size: 35px;
}

.full_image {
    width: 1800px;
    min-height: 870px;
    background-image: url(./images/full_image.jpg);
    margin-top: 160px;
    position: relative;
}

.full_image .text {
    color: #FFF;
    width: 315px;
    height: 300px;
    position: absolute;
    left: 320px;
    top: 300px;
}

.full_image .text a {
    color: #FFF;
}

.colour {
    min-height: 530px;
    background: #82ca9c;
    width: 1800px;
    color: #FFF;
    padding-top: 120px;
}

.colour .container .text {
    width: 370px;
    min-height: 200px;
    float: left;
    margin-top: 30px;
    padding: 0px 15px 0px 15px;
}

/*.colour h1{padding-top: 120px;
padding-bottom: -20px}*/
.buying {
    width: 1800px;
    min-height: 630px;
    background: #f4f5f8;
    padding-top: 100px;
}

.buying button {
    border-radius: 5px;
}

.buying .go_it_solo {
    width: 410px;
    min-height: 300px;
    float: left;
    padding: 50px 45px;
    padding-top: 50px;
}
.buying .go_it_solo button{
	color: #fdfdfd;
	background: #e1e1e1;
	border: none;
	padding: 5px 15px;
}
.buying .team_plan button{
	color: #fdfdfd;
	background: #bd8cbf;
	border: none;
	padding: 5px 15px;
}
.buying .container .btn_edit{
	    color: #fdfdfd;
    background: #82ca9c;
    border: none;
    padding: 13px 36px;
}
.buying .team_plan {
    width: 570px;
    max-height: 380px;
    float: right;
    background: #fff;
    box-shadow: 0px 0px 37px #888888;
    padding: 50px 45px;
}
i {
    padding-top: 20px;
    margin: 10px;
    font-size: 30px;
}
.footer{
    width: 1800px;
    min-height: 600px;
    background: #192431;
}
.footer .footer_text{
    color: #FFF;
    width: 570px;
    min-height: 150px;
    float: left;
}
.footer .footer_from{
    color: #FFF;
    padding-top: 20px;
    width: 470px;
    min-height: 200px;
    float: right;
}
.footer .container {
    padding-top: 131px;
}
.footer .footer_text p:first-child{
    font-weight: bold;
}
.footer .footer_from p:first-child{
        font-weight: bold;
}
.footer .footer_from input{
        padding: 11px 114px;
}
.footer .footer_from button{
    padding: 14px;
    padding-top: 15px;
    padding-bottom: 17px;
    margin-left: -4px;
    border: none;
    background: #82ca9c;
}
.footer .footer_from p{
    font-size: 10px;
    padding-top: 10px;
    opacity: 0.5;
}
.footer_list{
    color: #FFF;
}
.footer_list .list{
    width: 100px;
    min-height: 200px;
    float: left;
    margin-right: 100px;
    padding-top: 0px;
}
ul li{
    list-style-type: none;
}
ul{
       padding: 0px;
}